.footer {
  text-align: center;
  padding: 1rem 1rem;
  background-color:#faeee7;
  color:#594a4e;
  font-size: 1rem;
  line-height: 1.6;
  flex-shrink: 0; 
}

@media (max-width: 600px) {
  .footer {
    padding: 1rem 0.5rem;
    font-size: 0.9rem;
  }
}
